.tooltip-container {
    position: relative;
    display: inline-block;
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.tooltip {
    position: absolute;
    z-index: 9999;
    padding: 8px 12px;
    background-color: rgb(25, 38, 50);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: auto;
    height: auto;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    // Default top placement adjustments
    top: 0;
    left: 0;
}

.tooltip-visible {
    opacity: 1;
    pointer-events: auto;
}
