.proxy-provider {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 0 20px 10px 20px;
    color: #b7c5d6;
}

.proxy-provider-item {
    //box-shadow: 0 0 24px 0 rgba(44, 138, 248, 0.2);

    &:hover {
        box-shadow: 0 0 24px 0 rgba(84, 117, 154, 0.4);
    }
}

@media (max-width: 768px) {
    .proxy-provider {
        padding: 0 10px 10px 10px;
    }
}